{
    "extends": "plugin:vue/essential",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true
    }
}
